.text-node {
  border: 1.5px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: wheat;
  width: 160px;
}

.text-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.toggle-switch {
  position: relative;
  width: 75px;
  vertical-align: middle;
  user-select: none;
  text-align: left;
  cursor: pointer;
}

.toggle-switch span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
}

.toggle-switch input[type='checkbox'] {
  display: none;
}

.toggle-switch input[type='checkbox'] + span::after {
  width: 8px;
  height: 8px;
  border: 1.5px solid #929292;
  background: #f5f5f5;
  content: '';
  display: inline-block;
  margin: 4px 0 4px 0;
  padding: 0;
  vertical-align: top;
  border-radius: 50%;
}

.toggle-switch input[type='checkbox']:checked + span::after {
  background: #2c2c2c;
  border: 1.5px solid #151515;
  box-shadow: inset 0px 0px 0px 1px #fff;
  color: #333;
  content: '';
  text-align: center;
  border-radius: 50%;
}

.toggle-switch input[type='checkbox']:focus + span::after {
  outline: 0;
}
.narrative-title {
  height: 44px;
  width: 80px;
}

.narrative-title label {
  font-size: 8px;
  display: block;
}

.title-input {
  margin-top: 4px;
  font-size: 8px;
  padding: 4px 4px;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  transition: 0.3s all;
  width: 160px;
}

.title-input:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.btn-add-option {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 20px;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 12px;
  line-height: 0;
  background-color: rgba(255, 255, 255, 0.679);
  border: 1.8px solid #929292;
}
