.text-node {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: wheat;
}

.text-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.toggle-switch {
  position: relative;
  width: 75px;
  vertical-align: middle;
  user-select: none;
  text-align: left;
  cursor: pointer;
}

.toggle-switch span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
}

.toggle-switch input[type='checkbox'] {
  display: none;
}

.toggle-switch input[type='checkbox'] + span::after {
  width: 8px;
  height: 8px;
  border: 1.5px solid #929292;
  background: #f5f5f5;
  content: '';
  display: inline-block;
  margin: 4px 0 4px 0;
  padding: 0;
  vertical-align: top;
  border-radius: 50%;
}

.toggle-switch input[type='checkbox']:checked + span::after {
  background: #2c2c2c;
  border: 1.5px solid #151515;
  box-shadow: inset 0px 0px 0px 1px #fff;
  color: #333;
  content: '';
  text-align: center;
  border-radius: 50%;
}

.toggle-switch input[type='checkbox']:focus + span::after {
  outline: 0;
}
