.option-node {
  /* opacity: 0.3; */

  padding: 3.2px;
  padding-top: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1.5px solid #eee;
  border-left: 1.5px solid #eee;
  background: wheat;
  height: 44px;
  width: 163.4px;
}

.option-node label {
  display: block;
  color: #777;
  font-size: 6px;
}

.option-input {
  font-size: 8px;
  color: #4e4e4e;
  padding: 2px 4px;
  margin: 4px 0;
  box-sizing: border-box;
  box-shadow: none;
  border: 1.4px solid #929292;
  border-radius: 4px;
  transition: 0.3s all;
  width: 152px;
  /* resize: none; */
}

.option-input:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
